* {
  margin: 0;
  padding: 0;
}

img {
  height: 30vw;
  object-fit: cover;
  padding: 20px;
}

.about {
  display: flex;
  padding: 30px;
  font-family: "Volkhov", serif;
  background-color: #6b705c;
  height: 100vh;
}

p {
  padding: 20px;
  text-align: center;
  justify-content: left;
}


/* Media query to change display options of about section */
@media screen and (max-width: 768px) {
  .about {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .about > div,
  .about > img {
    width: 100%;
    height: 100%;
  }

  .about > div:nth-child(odd) {
    background-color: #899e8b;
  }
}